# Ignore all
*

# Unignore all with extensions
!*.*
!Pipfile

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Data files and directories common in repo root
datasets/
logs/
*.h5
results/
temp/
test/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.py~

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.zip
*.pkl
!samples/YCB_Video/XYZ_Models.pkl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VS Studio Code
.vscode

# PyCharm
.idea/

# Dropbox
.dropbox.attr

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# pipenv
*.lock

# pointclouds
*.pcd
*.xyz

# compiled objects
*.o
*.so

# other
*.png
*.csv
*.json
*.log
*.in